/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #2c252e;
  border: 1px solid #2c252e
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
  background: url('./github.svg');
  background-repeat: no-repeat;
  transform: scale(0.9);
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  background: #f1edf1;
}
.loginBtn:hover {
  cursor: pointer;
}
